<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
   <!-- <form action="" method="GET"> -->
       <!-- <div>
           <label for="id_name">Name:</label>
           <input type="text" name="name" required id="id_name">
       </div>

        <div>
            {{form.name.label_tag}}
            {{form.name}}
        </div>

        <div>
            {{form.name.label}}
            {{form.name}}
        </div> -->


        <!-- {form} -->
        <!-- {form.as_table} -->
        <!-- {form.as_p} -->
        <!-- {form.as_ul} -->
        <!-- {form}} a field name  example below-->
        <!-- {form.name}  -->
    <!-- <input type="submit" value="Submit"> -->
   <!-- </form> -->
<form action="" method="GET">
    {% for field in form.visible_fields %}
    <!-- {% if field.hidden %}
    {% endif %} -->
        {{field.label_tag}}
        {{field}}
    {% endfor %} 
    <br>
    {% for field in form.hidden_fields %}
    <!-- {% if field.hidden %}
    {% endif %} -->
        {{field.label_tag}}
        {{field}}
    {% endfor %} 
    <br>
    <input type="submit" value="Submit">
</form>

</body>
</html>