<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUERY SET</title>
</head>
<body>
    <h1>STUDENT INFORMATION</h1>
    <table>

        <th>ID</th>
        <th>Roll</th>
        <th>Name</th>
        <th>Marks</th>
        <th>City</th>
        <th>Passing Year</th>
        {% for student in students %}
        <tr>
            <td>{{student.id}}</td>
            <td>{{student.roll}}</td>
            <td>{{student.name}}</td>
            <td>{{student.marks}}</td>
            <td>{{student.city}}</td>
            <td>{{student.pass_date}}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>