<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <title>{% block title %}Django{% endblock title %}</title>
</head>
<body>
    <h1>My Header</h1>
    <nav>
        <ul>
            <!-- HYPER LINK DEMO -->
            <!-- url path eg: path("about/") -->
            <!-- use it as href="/about" -->
            <!-- for multi level use -->
            <!-- use it as href="../about/" -->
            <!-- USING name paramter in path fn -->
             <!-- Can also pass from view fn -->
            <li><a href="{% url 'homePage' %}">Home</a></li>
            <li><a href="{% url 'aboutPage' %}">About</a></li>
        </ul>
    </nav>

    <!-- Create widgets using  -->
    <!-- {% include "page-name.html" %} -->
    <!-- Pass content -->
    <!-- {% include "page-name.html" with listData = "Data" %} -->
     <!-- use only to not pass parent content -->
    <!-- {% include "page-name.html" with listData = "Data" only%} -->

    
    {% block content %}
    {% endblock content %}
    <h1>My Footer</h1>
</body>
</html>