{%load static%}
<!-- WE CAN USE LOAD STATIC AS VARIABLE  AS WELL -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Home Page</h1>
    <img src="{%static 'images/asdasd.png' %}" , height="50%", width="50%">
    <img src="{%static 'images/dart_OT.png' %}" , height="50%", width="50%">
</body>
</html>